<span class="metadata-marker" style="display: none;" data-region_tag="css"></span>
#map {
	height:1000px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
	background-color: grey;
	display:inline-block;
}
