<!DOCTYPE html>

<html>

<head>
	<title></title>
</head>

	<body onload="myFunction()">
		<div>
			<button>Click me to hide paragraphs</button>
			<p id="demo"></p>
		</div>
	
	<body>
	
	<script type=text/javascript src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
	
	<script>
		/*Function to retrieve data from flask app in here.*/
		function myFunction() {
			document.getElementById("demo").innerHTML = "Paragraph changed.";
		}
		$(document).ready(function(){
  		// jQuery methods go here...
  			$("button").click(function(){
			    $("#demo").hide();
			  });

		});
	</script>
	
	<script type=text/javascript>
		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
	</script>
</html>