h1 {
    background-color:#234a55;
    margin: 0%;
    height: 100px;
    }  
    
.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color:#234a55;
    color: white;
    }
      
#myNavbar {
    float: right;
    }
    
    
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #234a55;
    color: white;
    padding: 25px;  
    }

#dublinbikeslogo {
    margin-top: 20px;
    margin-left: 20px;
}

#dublincitycouncil {
    float: right;
    margin-top: 20px;
    margin-right: 20px;
}